[Repository IMAP]
type = IMAP
remotehost = localhost
ssl = no
#sslcacertfile = 
#cert_fingerprint = 
remoteuser = user@domain
remotepass = SeKr3t

[Repository Gmail]
type = Gmail
remoteuser = user@domain
remotepass = SeKr3t
