[Unit]
Description=Offlineimap Service
Documentation=man:offlineimap(1)

[Service]
ExecStart=/usr/bin/offlineimap -u syslog

[Install]
WantedBy=mail.target
