[Unit]
Description=Offlineimap Service for account %i

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o -a %i -u syslog

[Install]
WantedBy=mail.target
