[Unit]
Description=Offlineimap Service for account %i (oneshot)
Documentation=man:offlineimap(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o -a %i -u syslog
# Give 120 seconds for offlineimap to gracefully stop before hard killing it.
TimeoutStopSec=120
Restart=on-failure
RestartSec=60


[Install]
WantedBy=mail.target
