[Unit]
Description=Offlineimap Query Timer for account %i

[Timer]
OnBootSec=1m
OnUnitInactiveSec=15m
Unit=offlineimap-oneshot@%i.service

[Install]
WantedBy=mail.target
