[Unit]
Description=Offlineimap Service (oneshot)
Documentation=man:offlineimap(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o -u syslog
# Give 12 seconds for offlineimap to gracefully stop before hard killing it.
TimeoutStopSec=12
#Restart=on-watchdog
#WatchdogSec=300

[Install]
WantedBy=mail.target
